@mixin generic-transition($attr) {
  transition: $attr 0.5s ease-in-out;
}

@mixin button {
  color: $blue;
  background-color: white;
  font-size: 1.2rem;
  padding: 20px 40px;
  border: $blue 1px solid;
  @include generic-transition(all);
  &:hover {
    background-color: $blue;
    color: white;
  }
}
