@media (min-width: 320px) and (max-width: 767px) {
  .navigation .mobile-nav {
    display: flex;
  }
  .desktop-nav {
    display: none;
  }

  .intro {
    h1 {
      font-size: 3rem;
    }
    .actions {
      flex-direction: column;
    }
    .workshops-link {
      margin: 0;
      margin-bottom: 20px;
    }
  }

  .videos,
  .nerds {
    grid-template-columns: 1fr;
    justify-items: center;

    .image {
      width: 250px;
    }
  }

  .workshops {
    .workshop {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-bottom: 50px;

      .info {
        text-align: center;
      }
      .info:nth-child(odd) {
        order: 0;
        text-align: center;
      }
    }
  }

  .not-found-page {
    h1 {
      font-size: 3rem;
    }
  }
}

@media (max-width: 960px) {
  .circle {
    display: none;
  }
}
