@media (min-width: 320px) and (max-width: 767px) {
  .navigation .mobile-nav {
    display: flex;
  }
  .desktop-nav {
    display: none;
  }

  .intro {
    h1 {
      font-size: 4rem;
    }
    .actions {
      flex-direction: column;
    }
    .workshops {
      margin: 0;
      margin-bottom: 20px;
    }
  }

  .videos,
  .nerds {
    grid-template-columns: 1fr;
    justify-items: center;

    .image {
      width: 250px;
    }
  }

  .not-found-page {
    h1 {
      font-size: 3rem;
    }
  }
}

@media (max-width: 960px) {
  .circle {
    display: none;
  }
}
