:root {
  font-size: 16px;
  scroll-behavior: smooth;
}

html {
  overflow-x: hidden;
}

body {
  height: 100vh;
}

*,
body,
html {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  text-align: center;

  h1 {
    font-size: 6rem;
    max-width: 850px;
    color: $secondary;
  }
  h2 {
    font-size: 1.5rem;
    margin-top: 30px;
    color: $primary-text;
    span {
      font-size: 1.6rem;
    }
  }
  h1,
  h2 {
    span {
      color: $primary;
    }
  }

  .actions {
    display: flex;
    margin-top: 50px;
  }

  .workshops-link {
    text-decoration: none;
    @include button();
    margin-right: 50px;
  }
  .hire-us-link {
    @include button();
    text-decoration: none;
    background-color: $primary;
    color: white;
    &:hover {
      color: $primary;
      background-color: white;
    }
  }
}

// Section.
section {
  text-align: center;
  background-color: white;
  font-size: 1.8rem;
  padding: 50px 0;
  margin: 50px 0;

  h3 {
    color: $primary;
    font-size: 3rem;
    padding: 20px 0 10px;
    margin-bottom: 20px;
  }

  p {
    color: lighten($secondary, 10);
    font-size: 1.5rem;
    padding-bottom: 40px;
  }

  &.dark {
    background-color: $primary;
    h3,
    p {
      color: white;
    }
  }
}

.divider {
  padding: 2px 0;
  background-color: $primary;
  transform: skewY(-6deg);
  margin: 100px 0;
}

// Home section.
.circle {
  z-index: 1000;
  position: absolute;
  background: $primary-light;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;

  &.top {
    bottom: calc(100% - 360px);
    left: calc(100% - 150px);
  }

  &.bottom {
    top: calc(100% - 280px);
    left: -150px;
  }
}

// Workshops.
.workshops {
  .workshops-link {
    @include button();
    text-decoration: none;
    background-color: $primary;
    color: white;
    &:hover {
      color: $primary;
      background-color: white;
    }
  }
  .workshop {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .image {
      width: 200px;
      text-align: end;
    }
    .info {
      text-align: start;
    }
    &:not(:last-child) {
      margin-bottom: 50px;
    }
  }
  .workshop:nth-child(even) {
    .info {
      order: 1;
      text-align: end;
    }
  }
}

// Nerds.
.nerds {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: repeat(2, 1fr);

  .image {
    border-radius: 50%;
  }

  .link {
    position: relative;

    &:hover .overlay {
      opacity: 0.8;
    }
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    background-color: $primary;
    border-radius: 50%;
    z-index: 2;
    @include generic-transition(opacity);

    .text {
      color: white;
      font-size: 4rem;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
    }
  }
}

// Videos.
.videos {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(3, 1fr);

  img {
    @include generic-transition(filter);
    filter: grayscale(50%);

    &:hover {
      filter: grayscale(0%);
    }
  }
}

// Contact
.contact {
  input {
    width: 100%;
    border: $primary 1px solid;
    padding: 10px;
    font-size: 1.8rem;
    margin-bottom: 10px;
    box-sizing: border-box;

    &:focus {
      outline: none;
    }
  }

  textarea {
    width: 100%;
    border: $primary 1px solid;
    padding: 10px;
    font-size: 1.8rem;
    margin-bottom: 10px;
    min-width: 100%;
    max-width: 100%;
    box-sizing: border-box;

    &:focus {
      outline: none;
    }
  }

  button {
    @include button();
    cursor: pointer;
    background-color: $primary;
    color: white;
    &:hover {
      color: $primary;
      background-color: white;
    }
    width: 100%;
  }
}

// Social.
.social {
  background-color: $primary;
  text-align: center;
  color: white;
  font-size: 2rem;
  margin: auto;
  padding: 10px;

  .image {
    width: 3rem;
    fill: white;
    margin: 0 10px 0 0;
    @include generic-transition(filter);

    &:hover {
      filter: opacity(0.8);
    }
  }
}

// Footer section.
.footer {
  text-align: center;
  padding: 5px;
  font-size: 1.2rem;
  color: $secondary;
}

// 404 page
.not-found-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 70vh;
  h1 {
    font-size: 7rem;
    color: $primary-text;
  }
  div {
    font-size: 2rem;
    font-weight: 300;
    color: $secondary;
    a {
      color: $primary;
      @include generic-transition(color);
      &:hover {
        color: $primary-light;
      }
    }
  }
}
