// Page.
:root {
  font-size: 16px;
  scroll-behavior: smooth;
}

html {
  overflow-x: hidden;
}

body {
  height: 100vh;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  text-align: center;

  h1 {
    font-size: 6rem;
    max-width: 850px;
    color: $grey;
    font-weight: 300;
  }
  h2 {
    font-size: 1.5rem;
    margin-top: 30px;
    color: $black;
  }

  .actions {
    display: flex;
    margin-top: 50px;
  }

  .workshops {
    text-decoration: none;
    @include button();
    margin-right: 50px;
  }
  .mentoring {
    @include button();
    text-decoration: none;
    background-color: $blue;
    color: white;
  }
}

// Section.
section {
  text-align: center;
  background-color: white;
  font-size: 1.8rem;
  padding: 20px;
  margin: 20px 0;

  h3 {
    color: $blue;
    font-size: 3rem;
    padding: 20px 0 10px;
    margin-bottom: 20px;
  }

  p {
    color: lighten($grey, 10);
    font-size: 1.5rem;
    padding-bottom: 40px;
  }

  &.dark {
    background-color: $blue;

    h3,
    p {
      color: white;
    }
  }
}

// Home section.
.circle {
  z-index: 1000;
  position: absolute;
  background: $light-blue;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;

  &.top {
    bottom: calc(100% - 360px);
    left: calc(100% - 150px);
  }

  &.bottom {
    top: calc(100% - 280px);
    left: -150px;
  }
}

.logo-image {
  width: 500px;
  height: 500px;
}

// Nerds.
.nerds {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: repeat(2, 1fr);

  .image {
    border-radius: 50%;
  }

  .link {
    position: relative;

    &:hover .overlay {
      opacity: 0.8;
    }
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    background-color: $blue;
    border-radius: 50%;
    z-index: 2;
    @include generic-transition(opacity);

    .text {
      color: white;
      font-size: 4rem;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
    }
  }
}

// Videos.
.videos {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(3, 1fr);

  img {
    @include generic-transition(filter);
    filter: grayscale(50%);

    &:hover {
      filter: grayscale(0%);
    }
  }
}

.contact {
  input {
    width: 100%;
    border: $blue 1px solid;
    padding: 10px;
    font-size: 1.8rem;
    margin-bottom: 10px;
    box-sizing: border-box;

    &:focus {
      outline: none;
    }
  }

  textarea {
    width: 100%;
    border: $blue 1px solid;
    padding: 10px;
    font-size: 1.8rem;
    font-family: "Roboto", sans-serif;
    margin-bottom: 10px;
    min-width: 100%;
    max-width: 100%;
    box-sizing: border-box;

    &:focus {
      outline: none;
    }
  }

  button {
    @include button();
    width: 100%;
  }
}

// Social.
.social {
  background-color: $blue;
  text-align: center;
  color: white;
  font-size: 2rem;
  margin: auto;
  padding: 10px;

  .image {
    width: 3rem;
    fill: white;
    margin: 0 10px 0 0;
    @include generic-transition(filter);

    &:hover {
      filter: opacity(0.8);
    }
  }
}

// Footer section.
.footer {
  text-align: center;
  padding: 5px;
  font-size: 1.2rem;
  color: $grey;
}
