.button {
  font-size: $font-size;
  padding: $padding;
  border: $primary $border-size solid;
  @include generic-transition(all);

  &--dark {
    color: white;
    background-color: $primary;
    &:hover {
      background-color: white;
      color: $primary;
    }
  }
  &--light {
    color: $primary;
    background-color: white;
    &:hover {
      background-color: $primary;
      color: white;
    }
  }
  &--full {
    width: 100%;
  }
}
