

.container {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}



.hire-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.hire {
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  background-color: #18a2de;
  border-radius: 100px;
}

@media (max-width: 768px) {
  .container {
    height: 50vh;
  }
  .title {
    font-size: 3rem;
  }
  .socialnerds {
    line-height: 15rem;
  }
}
