:root {
  font-size: 20px;
}
html {
  overflow-x: hidden;
}
body {
  height: 100vh;
}

.container {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.circle {
  z-index: -1000;
  position: absolute;
  bottom: calc(100% - 360px);
  left: calc(100% - 150px);
  background: rgba(24, 162, 222, 0.6);
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
}

.circle2 {
  z-index: -1000;
  position: absolute;
  top: calc(100% - 280px);
  left: -150px;
  background: rgba(24, 162, 222, 0.6);
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.title {
  color: #555;
  font-weight: 400;
  font-size: 5rem;
  display: flex;
  margin: auto;
}

.hello {
  justify-content: center;
}

.socialnerds {
  padding: 10px;
  line-height: 25rem;
  background-color: rgba(24, 162, 222, 0.5);
  border-radius: 50%;
  margin-left: 10px;
}
.social {
  margin: 0;
  color: #18a2de;
}

.nerds {
  color: #838383;
}

.hire-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.hire {
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  background-color: #18a2de;
  border-radius: 100px;
}
